<div class="row">
  <div class="col-md-12">
    <h1>{{restaurant.name}}</h1>
    <span class="badge badge-secondary">{{restaurant.Category.name}}</span>
  </div>
  <div class="col-md-4">
    <div class="well">
      <ul class="list-unstyled">
        <li><strong>Reviews:</strong> {{commentCount}}</li>
        <li><strong>Views:</strong> {{restaurant.viewCount}}</li>
        <li><strong>Favorites:</strong> </li>
      </ul>
    </div>
  </div>
  <hr>
</div>
<br />
<br />
<a href="javascript:history.back()">Back</a>